<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- 1、配置注解驱动(用于识别注解，比如@Controller) -->
    <mvc:annotation-driven/>

    <!-- 2、配置包扫描(扫描base-package中的注解，并管理对应类的实例对象) -->
    <context:component-scan base-package="com.hbnu.controller"/>

    <!-- 3、配置内部视图解析器
     prefix:前缀
     suffix:后缀
     -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--    配置包扫描-->
<!--    <context:component-scan base-package="com.hbnu.controller"/>-->
    <mvc:default-servlet-handler/>

<!--    拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/orderUpdate"/>
            <bean class="com.hbnu.interceptor.Myinterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>
